body {
  background-color: #ae8968;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header {
  border-bottom: 2px solid #c0d3df;
  padding: 0 0 40px 0;
}
.weather-app {
  background-color: #e5ecf2;
  max-width: 600px;
  border-radius: 10px;
  border: 10px solid #c0d3df;
  margin: 60px auto;
  padding: 40px;
  box-shadow: 0 30px 50px rgba (65, 50, 100, 0.08);
}
.search-input {
  background-color: #c0d3df;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 10px;
  font-size: 20px;
  font-family: "Caveat", cursive;
}
.search-button {
  background-color: #ae8968;
  border: none;
  border-radius: 6px;
  width: 18%;
  padding: 10px;
  font-size: 20px;
  font-family: "Caveat", cursive;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 20px;
}
h1 {
  font-size: 70px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 10px;
}
h2 {
  font-size: 16px;
  margin: 2px;
}
.weather-temp {
  display: flex;
  justify-content: flex-end;
}
.current-icon {
  width: 100px;
  height: 100px;
  margin: 40px 20px 0 40px;
}
.temp {
  font-size: 100px;
  font-weight: 800;
  margin: 30px 10px 4px 20px;
  text-align: right;
  line-height: 100px;
}
.metric {
  font-size: 30px;
  margin: 50px 20px 0 0;
}
.weather-details {
  font-size: 20px;
  text-align: right;
}
.weather-details strong {
  color: #ae8968;
}
footer {
  text-align: center;
  font-size: 14px;
  color: #ae8968;
  border-top: 2px solid #c0d3df;
  padding: 20px 0 0 0;
}
a {
  color: #ae8968;
}
